body{
    overflow-x: hidden;
}
header{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 65px;
    height: 90vh;
}

.head-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 67px;   
}
.h-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;   
}
.h-text h2{
    color: var(--black-500);
    font-size: 48px;
    font-weight: 700;
}
.h-text p{
    color: var(--black-400);
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */   
}
.badge-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 36px;
    width: 100%;
}
.badge{
    display: flex;
    padding: 20px;
    width: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;  
    border-radius: 12px; 
}
.badge-num{
    font-size: 36px;
    font-weight: 700;   
}
.badge-label{
    text-align: center;
    font-size: 16px;
    font-weight: 400;   
}

.head-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-img img{
    width: 450px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px){
    .h-text h2{
        font-size: 40px;
    }
    .h-text p{
        font-size: 18px;  
    }
    .head-text{
        z-index: 1;
    }
    .head-img{
        z-index: 0;
    }
    .head-img img{
        width: 340px;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 20px;
    }
    .badge-container{
        grid-template-columns: 1fr 1fr;
    }
    .badge-num{
        font-size: 32px; 
    }
}