@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* #root {
  max-width: 1280px;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

:root{
  --red-50: #FFEDED;
  --red-600: #E84848;
  --black-50: #EAE8E8;
  --black-400: #554545;
  --black-500: #2B1616;
  --black-900: #120909;
  --white-500: #FAFAFA;

  --p-12: 12px;
  --p-16: 16px;
  --p-20: 20px;
  --p-24: 24px;
  --p-36: 36px;
}